 html {
    scroll-behavior: smooth;
    
}
body {
    font-family: "Noto Sans Thai", sans-serif !important;
    color: #382a31 !important;
    background-color: #FFF4E6;
}
p, h2{
   font-family: "Noto Sans Thai", sans-serif ; 
}
section {
    
}
.bg-flower {
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    padding-top: 100px;
}
.bg-flower-10{
    background-image: url('./images/bg-flower-10.png');

}
.bg-flower-25{
    background-image: url('./images/bg-flower-25.png');

}
.bg-flower-60{
    background-image: url('./images/bg-flower-60.png');

}
.bg-flower:after{
    display: block;
    content: "";
    width: 100%;
    height: 70px;
    margin-top: -38px;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}
.container-content{
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.navbar {
    background: #1bbeff;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.navbar-nav .nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #fff ;
}
.navbar-nav .nav-link.active {
    
}
.bg-blue, .bg-blue .bg-flower::after {
    background-color: #57c3ff ;
}
.bg-pink, .bg-pink .bg-flower::after {
    background-color: #ffaacb ;
}
.bg-yellow, .bg-yellow .bg-flower::after {
    background-color: #ffea21 ;
}
.bg-purple, .bg-purple .bg-flower::after {
    background-color: #673399 ;
}

.text-orange {
    color: #ff683b ;
}
#home{
    background-color: #1bbeff;
}
.content-wrapper{
    position: relative;
    padding-top: 200px;
}
.header{
    position: absolute;
    top: 40px;
    width: 100%;
}
.row>*{
    /* padding: 0; */
}
/* tag style */
.tag-style{
    max-width: 440px;
    margin: 0 auto;
}
.tag-content{
    background-image: url('./images/tag-content-bg.png');
    background-repeat: repeat;
    padding: 40px 30px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 19px;
    line-height: 29px;
    word-break: break-word;
}


/* paper-style */
.paper-style{
   max-width: 435px; 
   margin: 23px auto 0;

}
.paper-content{
    /* max-width: 425px; */
    background-image: url('./images/paper-note-bg.png');
    background-repeat: repeat;
    padding-right: 30px;
    margin: 0 auto;
}
.paper-left{
    width: 50px;
    background-image: url('./images/paper-note-left.png');
    background-size: contain;
}
.large-card{
    width: 365px;
    margin-bottom: 30px;
}
.small-card{
    width: 175px ;
}

.festival-card {
  position: relative;
}
.festival-card .title{
    margin-top: 15px;
    margin-bottom: 30px;
}

.festival-img {
  width: 100%;
  object-fit: cover;
}

.festival-card h2 {
  font-size: 11px;
}

.footer-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn-share, .btn-map {
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-share{
    background-image: url('./images/ic-share.png');
}
.btn-map{
    background-image: url('./images/ic-map.png');
    
}
.btn-pink, .btn-pink:active, .btn-pink:hover{
    background-color: #ff7eb3 !important;
    border:2px solid  #dd4e88 !important;

}
.btn-green, .btn-green:active, .btn-green:hover{
    background-color: #8cc85a !important;
    border:2px solid  #68973c !important;

}
.btn-orange, .btn-orange:active, .btn-orange:hover{
    background-color: #ff9900 !important;
    border:2px solid  #8e5313 !important;

}
.btn-blue, .btn-blue:active, .btn-blue:hover{
    background-color: #3a7ee4 !important;
    border:2px solid  #144b8c !important;

}
.border-green{
    border-color: #68973c !important;
}

.header-image{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 20px;
}
.header-image-right{
    z-index: 1;
    right: 20px;
    bottom: -20px;
}
.item-tag{
    text-align: center;
    margin-bottom: -12px;
    z-index: 1;
    position: relative;
}
.card-footer-image{
    /* margin-top: 30px; */
}
.card-footer-image img{
    margin-bottom: -30px;
}
#trip .bg-flower::after{
    height: 120px;
    margin-top: -100px;
}
.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.note-style{
    background-image: url('./images/paper-note-bg.png');
    background-repeat: repeat, no-repeat;
    background-position: center top, center top;
    background-size: auto, 100% 30px;
    padding-right: 30px;
    padding-left:30px ;
    margin: 0 auto;
    max-width:440px ;
    min-height: 410px;
}
.note-header{
    height: 35px;
    width: 100%;
    max-width:440px ;
    display: block;
    background-image: url('./images/note-top.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin: auto;
}
.note-style .title h2{
    font-size: 16px;
}
.title{
    margin-top: 20px;
}
#attractions .container-content>[class^="col-"]{
    margin-top: 30px;
    font-size: 19px;
}
#attractions .tag-content{
    height: 220px;
}
#attractions .highligh-text{
    font-size: 23px;
    color:#ff88b6 ;
    font-family: 'Noto Sans Thai';
    font-weight: 500;
}
#localfood .bg-flower:after{
    height: 180px;
    margin-top: -120px;
}
#trip [class^="col-"]{
    padding: 0;
}

.card-wrapper{
    width: 380px;
}
.road-horizontal{
    content: url('./images/road-horizontal.png');
    height: 30px;
    width: 96px;
}
.road-verticle{
    content: url('./images/road-verticle.png');
    height: 96px;
    width: 30px;
    margin: auto;
}
#trip .card-title{
    font-size: 19px;
    font-weight: 600;
    color: #57c3ff;
    margin-bottom: 0;
}

.card{
    border: 0;
    border-radius: 10px;
    height: 330px;
    background-color: transparent;
    overflow: hidden;
}
.card-img-top{
    border-radius: 0;
}
.card-header{
    height: 95px;
}
.card-footer{
    height: 96px;
}
.card-body{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 19px;
    padding: 20px 30px 30px;
    background-image: url('./images/trip-card-bg.png');
    height: 140px;
}
.btn-group .btn{
    border-width: 1px;
}
#nightlife .card-title{
    font-size: 16px;
    color: #fff;
}
.nightlife-card{
    max-width: 307px;
    margin: 20px auto;
}
#nightlife .bg-flower:after {
    height: 180px;
    margin-top: -150px;
}
.bg-note .bg-pink{
    background-image: url('./images/bg-pink-line.png');
    background-repeat: repeat;
}
.bg-note .bg-blue{
    background-image: url('./images/bg-blue-line.png');
    background-repeat: repeat;
}
#activities [class^="col-"]{
    padding-top: 120px;
    padding-bottom: 80px;
}
.card-activities{
    width: 455px;
    font-size: 18px;
    margin: 20px auto;
}
.card-activities .card-content{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}
.card-activities .card-text{
    padding: 20px;
    color: #382a21;
}
.card-activities .card-text p{
    margin-bottom: 0;
    letter-spacing: -0.5px;
}
.card-activities .card-img{
    width: 185px;
}
.card-activities .highligh-text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.bg-pink .card-activities .card-content{
    border: 2px solid #dd4e88;
}
.bg-pink .card-activities .highligh-text{
    color: #ff88b6;
}
.bg-blue .card-activities .card-content{
    border: 2px solid #3a7ee4;
}
.bg-blue .card-activities .highligh-text{
    color: #57c3ff;
}
@media (max-width: 767.98px) {
  .note-style{
    padding: 20px 30px 30px;
  }
}