 html {
    scroll-behavior: smooth;
    
}
body {
    font-family: "Noto Sans Thai", sans-serif !important;
    color: #382a31 !important;
    background-color: #FFF4E6;
}
p, h2{
   font-family: "Noto Sans Thai", sans-serif ; 
}
section {
    
}
.bg-flower {
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    padding-top: 100px;
}
.bg-flower-10{
    background-image: url('./images/bg-flower-10.png');

}
.bg-flower-25{
    background-image: url('./images/bg-flower-25.png');

}
.bg-flower-60{
    background-image: url('./images/bg-flower-60.png');

}
.bg-flower:after{
    display: block;
    content: "";
    width: 100%;
    height: 70px;
    margin-top: -38px;
}
section, footer{
    max-width: 1140px;
    margin: 0 auto;
}

.container-content{
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1000px;
}
nav .container-content{
    max-width: 1140px;
}

.navbar {
    background: #1bbeff;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.navbar-nav .nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #fff ;
}
.navbar-nav .nav-link.active {
    
}
.bg-blue, .bg-blue .bg-flower::after {
    background-color: #57c3ff ;
}
.bg-pink, .bg-pink .bg-flower::after {
    background-color: #ffaacb ;
}
.bg-yellow, .bg-yellow .bg-flower::after {
    background-color: #ffea21 ;
}
.bg-purple, .bg-purple .bg-flower::after {
    background-color: #673399 ;
}

.text-orange {
    color: #ff683b ;
}
#home{
    background-color: #1bbeff;
}
#home-content{
    height: 70px;
}
.content-wrapper{
    position: relative;
    padding-top: 200px;
}
.header{
    position: absolute;
    top: 40px;
    width: 100%;
}
.row>*{
    /* padding: 0; */
}
/* tag style */
.tag-style{
    max-width: 440px;
    margin: 0 auto;
}
.tag-content{
    background-image: url('./images/tag-content-bg.png');
    background-repeat: repeat;
    padding: 40px 30px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 19px;
    line-height: 29px;
    word-break: break-word;
}


/* paper-style */
.paper-style{
   max-width: 435px; 
   margin: 23px auto 0;

}
.paper-content{
    /* max-width: 425px; */
    background-image: url('./images/paper-note-bg.png');
    background-repeat: repeat;
    padding-right: 30px;
    margin: 0 auto;
}
.paper-left{
    width: 50px;
    background-image: url('./images/paper-note-left.png');
    background-size: contain;
}
.large-card{
    width: 365px;
    margin-bottom: 30px;
}
.small-card{
    width: 175px ;
}

.festival-card {
  position: relative;
}
.festival-card .title{
    margin-top: 15px;
    margin-bottom: 30px;
}

.festival-img {
  width: 100%;
  object-fit: cover;
}

.festival-card h2 {
  font-size: 11px;
}

.footer-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn-share, .btn-map {
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-share{
    background-image: url('./images/ic-share.png');
}
.btn-map{
    background-image: url('./images/ic-map.png');
    
}
.btn-pink, .btn-pink:active, .btn-pink:hover{
    background-color: #ff7eb3 !important;
    border:2px solid  #dd4e88 !important;

}
.btn-green, .btn-green:active, .btn-green:hover{
    background-color: #8cc85a !important;
    border:2px solid  #68973c !important;

}
.btn-orange, .btn-orange:active, .btn-orange:hover{
    background-color: #ff9900 !important;
    border:2px solid  #8e5313 !important;

}
.btn-blue, .btn-blue:active, .btn-blue:hover{
    background-color: #3a7ee4 !important;
    border:2px solid  #144b8c !important;

}
.border-green{
    border-color: #68973c !important;
}

.header-image{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 20px;
}
.header-image-right{
    z-index: 1;
    right: 20px;
    bottom: -20px;
}
.item-tag{
    text-align: center;
    margin-bottom: -12px;
    z-index: 1;
    position: relative;
}
.card-footer-image{
    /* margin-top: 30px; */
}
.card-footer-image img{
    margin-bottom: -30px;
}
#trip .bg-flower::after{
    height: 120px;
    margin-top: -100px;
}
.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.note-style{
    background-image: url('./images/paper-note-bg.png');
    background-repeat: repeat, no-repeat;
    background-position: center top, center top;
    background-size: auto, 100% 30px;
    padding-right: 30px;
    padding-left:30px ;
    margin: 0 auto;
    width: 100%;
    max-width:440px ;
    min-height: 410px;
}
.note-header{
    height: 35px;
    width: 100%;
    max-width:440px ;
    display: block;
    background-image: url('./images/note-top.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin: auto;
}
.note-style .title h2{
    font-size: 16px;
}
.title{
    margin-top: 20px;
}
#attractions .container-content>[class^="col-"]{
    margin-top: 30px;
    font-size: 19px;
}
#attractions .tag-content{
    height: 220px;
}
#attractions .highligh-text{
    font-size: 23px;
    color:#ff88b6 ;
    font-family: 'Noto Sans Thai';
    font-weight: 500;
}
#localfood .bg-flower:after{
    height: 180px;
    margin-top: -120px;
}
#trip [class^="col-"]{
    padding: 0;
}

.card-wrapper{
    max-width: 380px;
}
.road-horizontal{
    content: url('./images/road-horizontal.png');
    height: 30px;
    width: 96px;
}
.road-verticle{
    content: url('./images/road-verticle.png');
    height: 96px;
    width: 30px;
    margin: auto;
}
#trip .card-title{
    font-size: 19px;
    font-weight: 600;
    color: #57c3ff;
    margin-bottom: 0;
}

.card{
    border: 0;
    border-radius: 10px;
    height: 330px;
    background-color: transparent;
    overflow: hidden;
}
.card-img-top{
    border-radius: 0;
}
.card-header{
    height: 95px;
}
.card-footer{
    height: 96px;
}
.card-body{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 19px;
    padding: 20px 30px 30px;
    background-image: url('./images/trip-card-bg.png');
    height: 140px;
}
.btn-group .btn{
    border-width: 1px;
}
#nightlife .card-title{
    font-size: 16px;
    color: #fff;
}
.nightlife-card{
    max-width: 307px;
    margin: 20px auto;
}
#nightlife .bg-flower:after {
    height: 180px;
    margin-top: -150px;
}
.bg-note .bg-pink{
    background-image: url('./images/bg-pink-line.png');
    background-repeat: repeat;
}
.bg-note .bg-blue{
    background-image: url('./images/bg-blue-line.png');
    background-repeat: repeat;
}
#activities [class^="col-"]{
    padding-top: 120px;
    padding-bottom: 80px;
}
.card-activities{
    width: 455px;
    font-size: 18px;
    margin: 20px auto;
}
.card-activities .card-content{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}
.card-activities .card-text{
    padding: 20px 20px 15px;
    color: #382a21;
}
.card-activities .card-text p{
    margin-bottom: 0;
    letter-spacing: -0.5px;
}
.card-activities .card-img{
    width: 185px;
    display: flex;
    flex: 1;
}
.card-activities .highligh-text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.bg-pink .card-activities .card-content{
    border: 2px solid #dd4e88;
}
.bg-pink .card-activities .highligh-text{
    color: #ff88b6;
}
.bg-blue .card-activities .card-content{
    border: 2px solid #3a7ee4;
}
.bg-blue .card-activities .highligh-text{
    color: #57c3ff;
}
#souvenirs>div{
    /* padding-top: 180px; */
}
#souvenirs .container-content{
    padding-bottom: 120px;
}
#souvenirs .bg-flower:after{
    margin-top: 0;
}
#souvenirs [class^="col-"]{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.souvenir-card{
    max-width: 155px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.souvenir-card .card-img-top{
    border-radius: 10px;
    padding: 10px;
}
.souvenir-card .btn-share{
    right: 5px;
    bottom: 5px;
}
.souvenir-card .card-title{
    font-size: 15px;
    padding: 20px 10px;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brochures{
    background-image: url(images/brochure-bg.png);
}
#brochures .bg-top{
    background-image: url(images/section9-top-bg.png);
    height: 100px;
    background-repeat: repeat-x;
}
#brochures .header{
    position: relative;
    top: auto;
    margin: 60px auto 40px;
}
#brochures:after{
    display: block;
    content: "";
    width: 100%;
    height: 300px;
    margin-top: -300px;
    background-color: #ffea21;
    border-bottom: 5px solid #ff87b6;
}
/* for slider */
.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.6s ease;
    gap: 20px;
}

.carousel-card {
    min-width: 205px;
    text-align: left;
    overflow: hidden;
    /* margin: 0 15px; */
    transition: transform 0.3s ease;
}

.carousel-card:hover {
    transform: translateY(-5px);
}

.carousel-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.carousel-card a{
    text-decoration: none;
}
.carousel-card p {
    color: #382a21;
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 0;
}

/* Navigation Buttons */
.carousel-nav{
    margin: 40px auto;
    gap: 10px;
}
.carousel-btn {
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    background-color: transparent;

}

.carousel-btn:hover {
    background-color: #ff88b6;
}

.carousel-btn.prev {
    
}

.carousel-btn.next {
    
}
#backToTop {
  position: fixed;
  bottom: 5px;
  right: 0px;
  z-index: 999;
  display: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 10px;
}
footer {
    background-image: url(images/brochure-bg.png);
    height: 100px;
}
    .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active{
        color: #fff;
    }

@media (max-width: 768px) {
    .carousel-card {
    min-width: 160px;
    }
    .carousel-card img {
    height: 220px;
    }
    .carousel-btn.prev {
    left: 40%;
    }
    .carousel-btn.next {
    right: 40%;
    }
}


@media (max-width: 991px){
    #mainNav {
        position: relative;
    }
    .navbar-toggler {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1100;
        background: none;
        border: none;
        padding: 0;
        box-shadow: none !important;
    }

    .navbar-collapse {
        background-color: #66ccff;
        position: fixed;
        top: 85px;
        right: 20px;
        width: 300px;
        max-width: 80%;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1000;
    }

    .navbar-collapse.show {
        transform: translateX(0);
    }

    .navbar-nav .nav-link{
        
        padding: 5px 20px 0;
    }
    .navbar-nav .nav-link:after{
        content: "";
        display: block;
        border-bottom: 1px solid #d0f1fe;
        padding-top: 10px;
    }
    .navbar-nav .nav-item:last-child .nav-link:after {
        border: none;
    }

    .navbar-nav .nav-link.active {
        background-color: #3399cc;
    }

    .navbar-toggler {
        z-index: 1100;
    }
    body.nav-open::before {
        content: "";
        position: fixed;
        inset: 0;
        background-color: rgba(0, 51, 102, 0.85);
        z-index: 1;
    }
    
    img{
        max-width: 100%;
        height: auto;
    }
    #home-content{
        height: 0;
    }
    #attractions .container-content>[class^="col-"]{
        margin: 15px auto;
        padding: 0 !important;
    }
    #attractions .tag-content{
        height: auto;
    }
    #attractions .divide{
        background-image: url('./images/ic-devide.png');
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        margin: 55px auto;
    }
    #trip .col-12{
        max-width: 100%;

    }
    #trip>.d-flex{
        flex-direction: column;
    }
    #trip .card{
        height: auto;
        max-width: 380px;
        margin: 0 auto;
    }
    .road-horizontal, .road-verticle{
        content: "";
        background-image: url('./images/road-verticle.png');
        height: 50px;
        width: 30px;
        margin: auto;
    }
    #trip .card-header, #trip .card-footer{
        height: auto;
    }
    
    #souvenirs .container-content{
        max-width: 560px;
        padding-bottom: 0;
    }
    #souvenirs .bg-flower:after {
        margin-top: -150px;
        height: 200px;
    }
    #souvenirs [class^="col-"]{
        max-width: 175px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .souvenir-card{
        max-width: 175px;
        
    }
    .souvenir-card img{
        width: 100%;
        height: 248px;
    }
    #activities [class^="col-"]{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .card-activities .card-text{
        width: 60%;
    }
    .card-activities .card-img{
        width: 40%;
    }


}
@media (max-width: 855px) {
    
}
@media (max-width: 767.98px) {
    .header{
        padding: 0 20px;
    }
    .note-style{
        padding: 20px 30px 30px;
    }
    .nightlife-card{
        max-width: 100%;
    }
    .nightlife-card img{
        width: 100%;
        height: auto;   
    }
    .footer-actions{
        gap: 0.15rem;
    }
  
}
@media (max-width: 575px){
    
    .bg-flower{
        padding-top: 50px;
    }
    #seasons .paper-content{
        margin: 0;
        width: 90%;
    }
    #seasons .paper-content>.d-flex{
        gap:10px
    }
    #seasons .festival-card {
       
    }
    .header{
        padding: 0;
    }
    .paper-left{
        width: 10%
    }
    
    
    .large-card {
        /* max-width: 365px; */
        width: 100%;
    }
    .small-card {
        max-width: 100%;
        width: 48%;
    }
    .container-content{
        padding: 20px;
    }
    #activities [class^="col-"]{
        padding:20px;
    }
    #attractions .container-content>[class^="col-"]{
        padding: 0 20px !important;
    }
    #attractions .divide{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .content-wrapper{
        padding-top: 170px;
    }
    .card-activities{
        max-width: 455px;
        width: 100%;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .card-activities .card-img img{
        max-width: initial;
    }
    #attractions .tag-content{
        height: auto;
        padding: 20px 30px;
    }
    #attractions #tag-content-1 {
        padding: 20px 0;
    
    }  
    .note-style{
        width: 440px;
        max-width: 100%;
        min-height: auto;
    } 
}
@media (max-width: 450px) {
    .content-wrapper {
        padding-top: 120px;
    }
    .container-content{
        padding: 10px;
    }
    .large-card, #seasons .paper-content>.d-flex {
        max-width: 300px;
        margin: auto ;
    }
     #attractions .tag-content{
        font-size: 18px;
        padding: 20px;
    }
    .card-body{
        height: auto;
        min-height: 100px;
        padding-bottom: 10px;
    }
    .card-body img {
        max-width: 120px;
    }
    .card-body div:last-child {
        margin-top: 0px !important;
    }
    .card-body .position-absolute{
        top: -40px !important;
    }
    #activities .col-12>img{
        margin-bottom: 0 !important;
    }
    
}
@media (max-width: 390px) {
    .paper-content{
        padding-right: 20px;
    }
    .large-card, #seasons .paper-content>.d-flex {
        /* max-width: 290px; */
    }
    #trip .row{
        padding: 0 20px;
    }
   
}
@media (max-width: 375px) {
    .content-wrapper {
        padding-top: 80px;
    }
    .header{
        top: 20px;
    }
    .tag-content{
        padding: 30px 20px;
    }
    #attractions .tag-content{
        font-size: 19px;
        padding: 30px 15px;
    }
    #attractions #tag-content-1{
        padding-left: 10px;
        padding-right: 10px;
    }
     #attractions .container-content:nth-child(2) .col-12:last-child .tag-content{
        padding: 30px 22px;
    }
     #seasons .col-md-12:first-child .tag-content{
        padding: 20px 22px;
    }
    #localfood .tag-content{
        font-size: 1.25rem;
    }
    .paper-content{
        padding-right: 20px;
    }
    .large-card, #seasons .paper-content>.d-flex {
        /* max-width: 250px; */
    }
    .festival-card .title{
        gap: 5px;
    }
    .footer-actions {
        gap: 0.25rem;
    }
}